<PageTitle>Board Task</PageTitle>

<h1>Welcome to Board Task</h1>
@page "/"
@page "/tasks"
@inherits HomeModel
@using System.Collections.Generic
@using System.Linq
@using System.Text.Json.Serialization
@using Arke.ToDoList.WebSite.Services
@using Arke.ToDoList.WebSite.Shared

<h1>Board Task</h1>

<button type="button" @onclick="DeleteCompletedTasks">Delete all completed tasks</button>

<h2>@(isEditing ? "Edit Task" : "Add new Task")</h2>
<form @onsubmit="HandleSubmit">
    <div class="form-group">
        <label for="taskName">Name:</label>
        <input type="text" id="taskName" @bind="currentTask.Name" required />
    </div>
    <div class="form-group">
        <label for="taskDescription">Description:</label>
        <textarea id="taskDescription" @bind="currentTask.Description" disabled="@isEditing" rows="4" required></textarea>
    </div>
    <div class="form-group">
        <label for="taskStatus">Status:</label>
        <select id="taskStatus" @bind="currentTask.Status" disabled="@isEditing" required>
            <option value=""></option>
            <option value="ToDo">Todo</option>
            <option value="InProgress">InProgress</option>
            <option value="Done">Done</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit">@((isEditing ? "Save" : "Add Task"))</button>
        @if (isEditing)
        {
            <button type="button" @onclick="ResetForm">Cancel</button>
        }
    </div>
</form>

<div id="taskContainer">
    @foreach (var task in tasks)
    {
        <div class="task">
            <h3 class="taskName">Name: @task.Name</h3>
            <h5 class="taskName">Id: @task.Id</h5>
            <p class="taskDescription">Description: @task.Description</p>
            <p class="taskStatus">Status: @task.Status</p>
            <button @onclick="() => StartEditTask(task)">Edit</button>
            <button @onclick="() => ToggleStatusSelector(task)">Change Status</button>
            @if (statusSelectorVisible.Contains(task))
            {
                <div class="status-select">
                    <select @onchange="(e) => UpdateStatus(task, e.Value.ToString())">
                        <option value=""></option>
                        <option value="ToDo">Todo</option>
                        <option value="InProgress">InProgress</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
            }
        </div>
    }
</div>
